.color-picker {
  background-color: transparent;
  border: none;
}
.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.editor-content {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;
  }
}

.editor-content th,
.editor-content td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.editor-content th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.editor-content tr {
  background-color: #fff;
}
.PopoverContent {
  border-radius: 4px;
  width: 100%;
  background-color: white;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.PopoverContent:focus {
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
    0 0 0 2px var(--violet-7);
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}
.PopoverArrow {
  fill: white;
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
  position: absolute;
  top: 1px;
  right: 1px;
}
.PopoverClose:hover {
  background-color: var(--violet-4);
}
.PopoverClose:active {
  box-shadow: 0 0 0 1px var(--violet-7);
}
